body
{
    overflow-y: hidden;
}

.submenu
{
    background-color: #ffffff20;
    margin: 0;
    padding: 0;
    width: 20vw;
    position: absolute;
    transform: translateY(-300px) translateX(130px);
    transition-duration: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.submenubutton
{
    background-color: #ffffff00;
    margin: 0px;
    border: 0px;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Comfortaa";
    text-transform: uppercase;
    font-size: 12px;
    width:100%;
    color: #1ba098;
    outline: none;
    transition-duration: 0.4s;
    opacity: 1;
    display: flex;
    justify-content: center;
}

.submenubutton:hover
{
    background-color: #deb992;
    border: none;
    border-radius: 0px 0px 5px 5px;
    font-size: 12px;
}

.submenu-active
{
    transform: translateY(58.7px) translateX(130px);
}

@media screen and (max-width: 768px)
{
    .submenu
    {
        position: relative;
        background-color: #ffffff00;
        margin: 0;
        padding: 0;
        position: absolute;
        transform: translateY(120px) translateX(-150%);
        transition-duration: 0.4s;
        z-index: 30;
        width: 60%;
    }

    .submenu li
    {
        color: #1ba098;
        font-size: 16px;
        list-style: upper-roman;
    }

    .submenubutton
    {
        justify-content: flex-start;
    }

    .submenubutton:hover
    {
        background-color: #deb992;
        border: none;
        border-radius: 5px 5px 5px 5px;
    }

    .submenu-active
    {
        transform: translateY(120px) translateX(33%);
    }

    .author-active
    {
        transform: translateY(280px);
    }

    .author-active:hover
    {
        transform: translateY(280px);
    }
}